@use "../../style.scss" as *;

.home {
  @include themify($themes) {
    background-color: transparent;
    padding: 28px clamp(16px, 5vw, 72px);
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include mobile {
    padding: 16px 12px;
  }

  @include tablet{
    padding: 20px;
  }
}
